<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CC Dictation</title>
        <link rel="stylesheet" href="/content/style.css">
    </head>
    <body>
        <div class="input-column">
            <span>Paste script here:</span></br>
            <textarea rows="50" cols="50" id="script"></textarea>
            <input type="button" id="clear" value="End Stream">
        </div>
        <div class="output-column" id="scroller">
            <p id="current-line"></p>
        </div>

        <script type="text/javascript" src="/scripts/polyfill.js"></script>
        <script type="text/javascript" src="/scripts/stream.js"></script>
        <script type="text/javascript" src="/scripts/dictate.js"></script>
    </body>
</html>