body {
    font-size: 2em;
    color: #FFF;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clear {
    margin: 2em;
    padding: 1em;
}